<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>

  <body>
    <p>
      <b> {{ company.name }} </b> 
    <p>
      {{ company.address }}
    <p>
      {{ company.city }}
    <p>
      {{ company.country }}
    <p>
      {{ company.email }}
    <p>
      {{ company.phone_number }}
    <p>Owners:
      {% for owner in company.owners %}
      <a href="/owner/{{ owner.key().id() }}">{{ owner.name }}</a>
      {% endfor %}
    <p>
    <p>Directors:
      {% for director in company.directors %}
      <a href="/director/{{ director.key().id() }}">{{ director.name }}</a>
      {% endfor %}
    <p>
      <a href="/edit/{{ company.key().id() }}">Edit</a>
    <p>
  </body>
</html>

